* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

.active {
  border-bottom: 2px solid white;
}

section {
  min-height: 100vh;
  background-color: #181719;
}

section header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 85px;
}

section header .hamnav {
  display: none;
}

section header .hamnav.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 999;
  background-color: #181719;
  position: fixed;
}

section header .hamnav.show h1 {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
}

section header .hamnav.show ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40vh;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section header .hamnav.show ul * {
  font-size: 24px;
}

section header h3 {
  font-size: 14px;
  color: white;
  outline: 1px solid white;
  padding: 8px 8px;
  margin: 25px 50px;
  text-transform: uppercase;
}

@media (min-width: 1200px) {
  section header h3 {
    margin: 42px 77px;
  }
}

section header .right-header {
  position: relative;
}

section header .right-header .ham {
  position: absolute;
  top: 30px;
  right: 30px;
}

section header .right-header i {
  color: white;
  font-size: 25px;
  display: none;
}

@media (max-width: 1199px) {
  section header .right-header i {
    display: block;
  }
}

@media (max-width: 1199px) {
  section header .right-header ul li {
    display: none;
  }
}

section header .right-header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section header .right-header ul li {
  list-style: none;
  margin: 46px 76px;
}

section header .right-header ul li a {
  font-size: 20px;
  text-transform: capitalize;
}

@media (min-width: 1200px) {
  section header .right-header ul li a {
    font-size: 18px;
  }
}

section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 90vh;
  width: 100%;
}

@media (min-width: 1200px) {
  section .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (max-width: 1199px) {
  section .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 200px;
  }
}

section .container .left-container {
  max-width: 500px;
}

@media (max-width: 959px) {
  section .container .left-container {
    padding: 20px;
  }
}

@media (min-width: 1200px) {
  section .container .left-container {
    max-width: 400px;
  }
}

section .container .left-container h2 {
  color: white;
  font-size: 36px;
  margin-top: -150px;
}

@media (min-width: 1200px) {
  section .container .left-container h2 {
    letter-spacing: 3px;
    font-size: 48px;
  }
}

section .container .left-container p {
  color: white;
  font-size: 23px;
  margin-top: 50px;
}

@media (min-width: 1200px) {
  section .container .left-container p {
    font-size: 20px;
    line-height: 35px;
  }
}

section .container .left-container a {
  display: block;
  margin-top: 20px;
}

section .container .right-container {
  max-height: 600px;
  max-width: 600px;
  position: relative;
}

@media (max-width: 639px) {
  section .container .right-container {
    max-height: 400px;
    max-width: 400px;
  }
}

@media (max-width: 414px) {
  section .container .right-container {
    max-height: 320px;
    max-width: 320px;
  }
}

@media (min-width: 1200px) {
  section .container .right-container {
    max-height: 600px;
    max-width: 600px;
  }
}

section .container .right-container img {
  width: 100%;
}

@media (min-width: 1200px) {
  section .container .right-container img {
    margin-right: -100px;
  }
}

section .container .right-container .designer-pf {
  position: absolute;
  right: 0px;
  left: 167px;
  bottom: -107px;
  max-width: 400px;
  height: 170px;
  background-color: #181719;
  -webkit-box-shadow: 0px 2px 5px black;
          box-shadow: 0px 2px 5px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 639px) {
  section .container .right-container .designer-pf {
    left: 13px;
    bottom: -107px;
    max-width: 300px;
  }
}

section .container .right-container .designer-pf .top {
  padding: 10px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 1200px) {
  section .container .right-container .designer-pf .top {
    width: 70%;
    max-height: 100px;
  }
}

@media (max-width: 639px) {
  section .container .right-container .designer-pf .top {
    width: 100%;
  }
}

section .container .right-container .designer-pf .top .p-group {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
}

@media (max-width: 639px) {
  section .container .right-container .designer-pf .top .p-group {
    padding-left: 20px;
  }
}

section .container .right-container .designer-pf .top p {
  color: white;
}

section .container .right-container .designer-pf .top img {
  max-width: 60px;
  border-radius: 50%;
}

section .container .right-container .designer-pf .bottom {
  max-width: 250px;
  padding: 20px 0 0 20px;
}

section .container .right-container .designer-pf .bottom h2 {
  color: white;
  display: block;
  font-size: 20px;
  margin-top: -70px;
}

@media (min-width: 1200px) {
  section .container .right-container .designer-pf .bottom h2 {
    font-size: 25px;
  }
}

section footer {
  color: #f0e4e4;
  height: 50px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.1rem;
}

@media (max-width: 1199px) {
  section footer {
    margin-top: 60px;
  }
}
/*# sourceMappingURL=style.css.map */